#girl
{
position:absolute;
left:395px;
top:567px;
}
#woman
{
position:absolute;
left:822px;
top:405px;
}
#man
{
position:absolute;
left:91px;
top:343px;
}
#man-2
{
position:absolute;
left:590px;
top:441px;
}
#man-3
{
position:absolute;
left:480px;
top:255px;
}
#bigwoman
{
position:absolute;
left:271px;
top:211px;
}
#Wally
{
position:absolute;
left:438px;
top:309px;
}
#dog
{
position:absolute;
left:568px;
top:247px;
}
#woman-2
{
position:absolute;
left:509px;
top:518px;
}
